/*BEGIN CDC CUSTOM PS4 White Controller Styling*/
.controller.ds4.white {
    background-image: url("https://raw.githubusercontent.com/LegJo/CDC_Custom_GamePadViewer/refs/heads/main/svg/Manette_CdC_PS4.svg");
}

.ds4.white.disconnected {
    background: url("https://raw.githubusercontent.com/LegJo/CDC_Custom_GamePadViewer/refs/heads/main/svg/disconnected.svg");
}

.ds4.white .trigger {
    background-image: url("https://raw.githubusercontent.com/LegJo/CDC_Custom_GamePadViewer/refs/heads/main/svg/triggers.svg");
}

.ds4.white .bumper {
    background-image: url("https://raw.githubusercontent.com/LegJo/CDC_Custom_GamePadViewer/refs/heads/main/svg/bumper.svg");
}

.ds4.white .back, .ds4 .start {
    background-image: url("https://raw.githubusercontent.com/LegJo/CDC_Custom_GamePadViewer/refs/heads/main/svg/start.svg");
}

.ds4.white .button {
    background-image: url("https://raw.githubusercontent.com/LegJo/CDC_Custom_GamePadViewer/refs/heads/main/svg/face.svg");
}

.ds4.white .stick {
    background-image: url("https://raw.githubusercontent.com/LegJo/CDC_Custom_GamePadViewer/refs/heads/main/svg/sticks.svg");
}

.ds4.white .face {
    background-image: url("https://raw.githubusercontent.com/LegJo/CDC_Custom_GamePadViewer/refs/heads/main/svg/dpad.svg");
}
/*END CDC CUSTOM PS4 White Controller Styling*/
