/*BEGIN PS4 White Controller Styling*/
.controller.ds4.white {
    background-image: url("D:\\Docs\\Zz - OTHER\\CDC_GAMEPAD\\final_svg\\Manette_CdC_PS4.svg");
}

.ds4.white.disconnected {
    background: url("D:\\Docs\\Zz - OTHER\\CDC_GAMEPAD\\final_svg\\disconnected.svg");
}

.ds4.white .trigger {
    background-image: url("D:\\Docs\\Zz - OTHER\\CDC_GAMEPAD\\final_svg\\triggers.svg");
}

.ds4.white .bumper {
    background-image: url("D:\\Docs\\Zz - OTHER\\CDC_GAMEPAD\\final_svg\\bumper.svg");
}

/* .ds4.white .touchpad.pressed { */
    /* background-image: url("D:\\Docs\\Zz - OTHER\\CDC_GAMEPAD\\final_svg\\touchpad.svg"); */
/* } */

.ds4.white .back, .ds4 .start {
    background-image: url("D:\\Docs\\Zz - OTHER\\CDC_GAMEPAD\\final_svg\\start.svg");
}

.ds4.white .button {
    background-image: url("D:\\Docs\\Zz - OTHER\\CDC_GAMEPAD\\final_svg\\face.svg");
}

.ds4.white .stick {
    background-image: url("D:\\Docs\\Zz - OTHER\\CDC_GAMEPAD\\final_svg\\sticks.svg");
}

.ds4.white .face {
    background-image: url("D:\\Docs\\Zz - OTHER\\CDC_GAMEPAD\\final_svg\\dpad.svg");
}
/*END PS4 White Controller Styling*/
